<% lang = params[:locale] ? params[:locale] : "da" %>

<div class="row ">
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="form-inline">
        <%= form_tag search_action_url_local, method: :get, class: 'search-query-form clearfix navbar-form col-xs-12', role: 'search' do %>
            <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8,
                                                                                   :medium, :collection, :year, :month, :edition, :subj_id)) %>


            <% if search_fields.length > 1 %>
                <div class="form-group">

                  <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), title: t('blacklight.search.form.search_field.title'), id: "search_field", class: "form-control") %>
                </div>
            <% elsif search_fields.length == 1 %>
                <%= hidden_field_tag :search_field, search_fields.first.last %>
            <% end %>

            <div class="form-group">
              <label for="q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
              <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'),
                                 :class => "search_q q form-control", :id => "q", :autofocus => should_autofocus_on_search_box? %>
            </div>
            <div class="form-group left-inner-addon">
              <i class="glyphicon glyphicon-calendar hidden-xs"></i>
              <input type="text" class="form-control" id="datepicker1" placeholder="<%= t('blacklight.search.not_before') %> dd-mm-yyyy" <%= text_field_tag :notBefore, params[:notBefore] %>

            </div>
            <div class="form-group left-inner-addon">
              <i class="glyphicon glyphicon-calendar hidden-xs "></i>
              <input type="text" class="form-control" id="datepicker2" placeholder="<%= t('blacklight.search.not_after') %> dd-mm-yyyy" <%= text_field_tag :notAfter, params[:notAfter] %>

            </div>

            <button type="submit" class="btn btn-primary search-btn" id="search">
              <span class="submit-search-text"><%= t('blacklight.search.form.submit') %></span>
              <span class="glyphicon glyphicon-search"></span>
            </button>
            </div>

        <% end %>
        </div>
  </div>
</div>
</div>
<script>

    $(function () {
        $("#datepicker1").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "1000:-nn"
        });
        $("#datepicker2").datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "1000:-nn"
        });
    });
</script>