<% doc_presenter = show_presenter(document) %>

<div id="row">


  <div id="kbOSDInstance" class="col-sm-12 col-md-6">
    <div class="socialButtons hidden-print">
      <a href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?s=100&amp;u=http://www.kb.dk/<%= document.id %>', '_blank', 'width=626,height=436');void(0);" title="<%= t('social_button_title.facebook')%>">
        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com/intent/tweet?via=kb.dk&amp;url=http://www.kb.dk/<%= document.id %>" target="_blank" title="<%= t('social_button_title.twitter')%>">
        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
      </a>
      <a href="javascript:window.print();" title="<%= t('social_button_title.print')%>">
        <i class="fa fa-print fa-lg" aria-hidden="true"></i>
      </a>
      <% pdf_uri = show_pdf_link(document) %>
      <% if pdf_uri.length > 0 %>
          <a href=" <%= show_pdf_link(document) %>" target="_blank" title="<%= t('social_button_title.pdf')%>">
            <i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i>
          </a>

      <% end %>

    </div>
    <div class="kbOSDViewer">
      <div class="kbOSDToolbar"></div>
      <div class="kbOSDContent"></div>
    </div>
  </div>
  <div id="metadata" class="col-sm-12 col-md-6">
    <% document_show_fields(document).each do |field_name, field| -%>
        <% if should_render_show_field? document, field %>
            <%= doc_presenter.field_value field_name %>
        <% end -%>
    <% end -%>

  </div>


</div>

<script type="text/javascript">
    var jsonurl = <%= @document['content_metadata_image_iiif_info_ssm'].to_s.html_safe %>;
    var readDirection  ='<%= @document['read_direction_ssi']%>';


    (readDirection == "RTL") ? rtl = true : rtl = false;


    var kbOSDconfig = [{
        "id": "kbOSDInstance",
        "showDownloadControl": true,
        "toolbar": "kbOSDToolbar",
        "showNavigator": true,
        "defaultZoomLevel": 0,
        "sequenceMode": true,
        "rtl": rtl,
        "tileSources": jsonurl
    }];
</script>
<script src="http://static.kb.dk/kbOpenSeadragon/2.3.0/js/KbOSD_bundle_min.js"></script>
