<div class="navbar-right">
  <ul class="nav navbar-nav">
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>
  </ul>

  <ul class="nav navbar-nav">
    <li><a href="http://www.kb.dk/<%= locale %>/nb/samling/copinfo.html" target="_blank"> <%= t('blacklight.header_links.user_guides') %></a></li>
  </ul>

  <ul class="nav navbar-nav">
    <li><a href="<%= t('blacklight.header_links.language_path') %>"> <%= t('blacklight.header_links.change_language_to') %></a></li>
  </ul>

  <% if has_user_authentication_provider? %>
    <ul class="nav navbar-nav">
      <% if current_user %>
      <li>
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %>
      </li>
      <% unless current_user.to_s.blank? -%>
      <li>
        <%= link_to current_user, 'https://user.kb.dk/user/edit' %>
      </li>
      <% end %>
      <% else %>
      <li>
        <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
      </li>
      <% end %>
      </ul>
  <% end %>


</div>
